html, body {
    height: 100%;
    width: 100%;
    background-color: #ededed;
    padding:0px;
    margin:0px;
  }
  .work{
    font-weight: bold;
    color: crimson;
    background-color: blanchedalmond;
    margin: 80px;
    border-bottom: 3px solid #2ec548;
  }
  :root {
    --dz1-border-color: #d9dbf5;
    --dz1-speaker-color: #d5d5d5;
    --dz2-article-background: white;
    --dz2-article-shadow: #d5d5d5;
    --dz2-img-background: #fce5a4;
  }
  
  
  .dz1 {
    margin:0 auto;
    width: 595px;
  }
  .dz1 p {
  }
  .term {
    font-weight: bold;
  }
  .hint {
    font-style: italic;
  }
  .content {
  
  }
  
  
  .dz2 {
    margin:0 auto;
    width: 500px;
    font-family: Arial;
    font-size: 16px;
  }
  .dz2 h1 {
    font-size: 28px;
  }
  .dz2 a {
    color: #349bdf;
    text-decoration: none;
  }
  
  
  .dz3 {
    font-size: 24px;
    margin:0 20% 0 20%;
    width:60%;
  }
  .img {
    float: left; 
    width: 100px; 
  }
  .card-img { 
  }
  .card {
    float: right; 
    width: 580px; 
  }
  .card h1 {
    margin-top: 20px;
    font-size: 30px;
  }
  .card p{
  }